{{> rev-unit1 }}
{{> random }}
<h1>{{pageTitle}}</h1>
{{#if pageDescription}}
    <p>{{pageDescription}}</p>
{{/if}}
<div id="entity-browser"
     data-page-url-prefix="{{pageUrlPrefix}}"
     data-initial-state="{{initialState}}"
     data-all-filters="{{allFilters}}"></div>