<div class="entity-dropdown-init d-inline-block" data-entity-type="{{entityType}}" data-entity-id="{{entityId}}"
     data-show-label="true" data-variations="{{entityVariations}}"
     data-image="{{entityImages}}"
     data-variation-images="{{variationImages}}">
    <a id="item-image-link" target="_blank" href="{{fullBaseImage}}">
        <img id="item-image" src="{{mediumBaseImage}}" alt="In-game image of {{pageTitle}}"
             style="max-width: 200px; max-height: 200px;"/>
    </a>
</div>